<section @fadeInAnimation>

    <ol class="breadcrumb">
        <li><a routerLink="/home">Home</a></li>
        <li class="active">Student Quiz</li>
    </ol>

    <h2>Prospect Quiz</h2>
    <br/>

    <div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
        {{errorMessage}} {{successMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> 

    <form novalidate (ngSubmit)="saveQuiz(quizForm)" #quizForm="ngForm" class="form-horizontal">

        <input [ngModel]="quiz.quizId" ngModel #quizId="ngModel" type="hidden" name="quizId" [value]="quiz.quizId">

        <div *ngFor="let question of quiz.questions">
            <div class="row">
                <div id="box" class="col-lg-10 col-md-11 col-sm-2 col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="ph">
                            <h3 class="panel-title">{{question?.question}}</h3>
                        </div>
                        <div class="radio">

                            <label>
                                &nbsp;&nbsp;
                                <input ngModel #choiceA="ngModel" type="radio" name="{{question?.questionId}}" [value]="question?.choiceA" (change)="onSelectionChange(question, 'A')" required>{{question?.choiceA}} 
                            </label><br/>

                            <label>
                                &nbsp;&nbsp;
                                <input ngModel #choiceB="ngModel" type="radio" name="{{question?.questionId}}" [value]="question?.choiceB" (change)="onSelectionChange(question, 'B')" required>{{question?.choiceB}} 
                            </label><br/>

                            <label>
                                &nbsp;&nbsp;
                                <input ngModel #choiceC="ngModel" type="radio" name="{{question?.questionId}}" [value]="question?.choiceC" (change)="onSelectionChange(question, 'C')" required>{{question?.choiceC}} 
                            </label><br/>

                            <label>
                                &nbsp;&nbsp;
                                <input ngModel #choiceD="ngModel" type="radio" name="{{question?.questionId}}" [value]="question?.choiceD" (change)="onSelectionChange(question, 'D')" required>{{question?.choiceD}} 
                            </label><br/>

                            <label>
                                &nbsp;&nbsp;
                                <input ngModel #noneOfTheAbove="ngModel" type="radio" name="{{question?.questionId}}" required [value]="question?.noneOfTheAbove" (change)="onSelectionChange(question, 'E')">{{question?.noneOfTheAbove}} 
                            </label><br/><br/>

                         </div>   <!-- end radio buttons --> 
                    </div> <!-- end panel-primary -->
                </div>  <!-- end box -->
            </div> <!-- end row -->
        </div> <!-- end outer loop -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Click Here to Submit Your Answers</button>
            <!-- (click)="confirmParticipation()" -->
        </div>
        <br/><br/><br/>
    </form>

</section>