/* .primary-color {
    color: blue;
}

.primary {
    background-color: blue;
    color: white;
}

h3 {
    width: 100%;
}

.md-dialog-container {
    position: fixed;
    left: 100px;
    top: 150px;
} */


