<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Meetup is a free responsive single page bootstrap template by designerdada.com">
  <meta name="author" content="Akash Bhadange">
  <title>Meetup: Free Responsive One Page Bootstrap Template</title>
 
    </head>
    <body id="page-top" data-spy="scroll" data-target=".side-menu">
      
       
        <div class="row me-row content-ct speaker" id="speakers">
          <p><a href="/home">Return Home</a></p>
          <h2 class="row-title">Meet the Career Fair Team</h2>
          <div class="col-md-4 col-sm-6 feature">
            <img src="assets/images/nick3.jpg" class="speaker-img">
            <h3>Nick Yount</h3>
            <p>Nick has 15+ days of experience developing Java.  During his tenure he built numerous Restful services to support talent assessment.  His biggest achievements include implementing email and sms solutions and complaining about JPA ManyToMany relationships.  Nick prides himself on his amazing frontend skills but Matt regularly questions said skills.</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>
              <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
              <li><a href="#"><span class="ti-linkedin"></span></a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="assets/images/kayla3.jpg" class="speaker-img">
            <h3>Kayla Romano</h3>
            <p>Over 15+ days of Java Development experience and ready to attack whatever projects come her way in the future.</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>
              <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
              <li><a href="#"><span class="ti-linkedin"></span></a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="assets/images/dyumani.png" class="speaker-img">
            <h3>Dyumani Nunna</h3>
            <p>Dyumani is a Frontend Developer and held a prior position as a Test Engineer. She was primarily involved in the go for code final project with the Event and Prospect sections, UI design as well as table functionality. She loves to spend time with her daughter and watch lots of movies.</p>
            <ul class="speaker-social">
              <li><a href="https://github.com/dnunna">Follow Dyumani on Github</a></li>          
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="assets/images/dan3.jpg" class="speaker-img">
            <h3>Dan Ford</h3>
            <p>Dan is very old and has over 15+ years of experience and a proven track record backed by strong Business and Systems Analysis skills with a background in Applications Design and Development. A deep as well as diverse background offering a range of professional experience including Property/Casualty Insurance, Claims, Life Insurance Administration, Multi-Channel Retail, and Direct Marketing.  Dan can now add front stack development to this list</p>
            <ul class="speaker-social">
               <li><a href="https://github.com/techlozenge">Follow Dan on Github</a></li> 
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="assets/images/matt2.jpg" class="speaker-img">
            <h3>Matt Dreyer</h3>
            <p>Matt  is a Frontend Developer who was previously an all world Business Analyst at Liberty Mutual.  For this project, Matt was primarily involved with the Prospect, Recruiter and About sections of the Career Fair site, as well as consuming large amounts of coffee and dreaming about Nick’s beard.</p>
            <ul class="speaker-social">
              <li><a href="https://github.com/MattRDreyer">Follow Matt on Github</a></li>          
            </ul>
          </div>
        </div>
        
    
        <div class="row footer-credit">
          <div class="col-md-6 col-sm-6">
            <p>&copy; 2017, Career Fair Team | All rights reserved.</p>
          </div>
          <div class="col-md-6 col-sm-6"> 
            <ul class="footer-menu">
              <li><a href="/home">Return Home</a></li>
            </ul>
          </div>
        </div>
      
      <script src="js/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.easing.min.js"></script>
      <script src="js/scrolling-nav.js"></script>
      <script src="js/validator.js"></script>
      <!-- Google Analytics -->
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-29231762-2', 'auto');
      ga('send', 'pageview');
      </script>
    </body>
    </html>