<section>
  <ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li class="active">All Events</li>
  </ol>

  <br/>

  <app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

  <h2>All Events</h2>

  <a class="btn btn-primary" routerLink="/event">Return to My Events</a>

  <br><br><br>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="width:100%">
    <thead>
      <tr>
        <th>Activate Event</th>
        <th>Event Date</th>
        <th>Event Name</th>
        <th>No of Students</th>
        <th>Recruiter</th>
        <th class="col-xs-3">Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td> <!--removed this  class="text-center" to align the buttons to left-->
          <a class="btn btn-primary" [routerLink]="['/student']">Activate Event</a>
        </td>

        <td>{{event.eventDate | date :'yyyy-MM-dd' }}</td>
 <!-- modifying this to work on heroku - a href="/event/students/{{event.eventId}} -->
      <td> <a [routerLink]= "['/event/students/',event.eventId]"> 
        {{event.eventName}}
        </a></td>
       <td>{{event.numStudents}}</td>
        <td><span *ngFor="let recruiter of event.recruiters">
        {{recruiter.firstName}} {{recruiter.lastName}} <br />
        </span>
        </td>
        <td>
          <a class="btn btn-primary" [routerLink]="['/event/edit/', event.eventId]">
          <span class="glyphicon glyphicon-edit"></span> Edit</a>&nbsp;
        <button (click)="deleteEvent(event.eventId)"  class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span> Trash</button>
        </td>
      </tr>
    </tbody>  </table>

</section>