<section>
  <ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/recruiter">Recruiter</a></li>
    <li class="active">Prospect List</li>
    <li><a class="btn btn-primary" routerLink="/event">Return to Events</a></li>
</ol>

<br><br>

<div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
    {{errorMessage}} {{successMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!--<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>-->

<h2>Prospect List</h2>
<br>

<!--<a class="btn btn-primary" routerLink="/student/add">Add Student</a>-->
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="width:100%">
<!-- <table class="table table-striped table-bordered" id="dataTable" style="width:100%"> -->
  <thead>
    <tr>
      <th>Name</th>
      <th>University</th>
       <th>Major</th>
      <th>GPA</th> 
      <th>Graduation Date</th>
      <th>Email</th>
      <th>Phone Number</th>
       <th>Quiz Score</th>
       <th>Recruiter Notes</th>
       <th class="absorbing-column">Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td height="100">{{student.firstName}} {{student.lastName}}</td>
      <td class="shrink">{{student.university}}</td>
      <td class="shrink">{{student.major}}</td>
      <td class="shrink">{{student.gpa}}</td>
      <td class="shrink">{{student.graduationMonth}} {{student.graduationYear}}</td>
      <td class="shrink">{{student.email}}</td>
      <td class="shrink">{{student.phoneNumber}}</td>
      <td class="shrink">{{student.quiz[student.quiz.length-1].results.finalScore}}</td>
      <td class="shrink"><input type="text" [(ngModel)]="student.notes"></td>
      <td class="expand">
        <button (click)="updateNotes(student,eventNumber)" type= "submit" class="btn btn-primary">Save Notes</button></td>
    </tr>
  </tbody>
</table>
</section>
