<section @fadeInAnimation>
<ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li class="active">Events</li>
</ol>

<br/>

<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<h2>Events</h2>

<a class="btn btn-primary" [routerLink]="['/event/add/']">Add Event</a>&nbsp;
<a class="btn btn-primary" [routerLink]="['/allevents']">View All Events</a>&nbsp;

<!--<a (click)="clickEvent(event)"-->

<br><br><br>

 <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="width:100%">
  <thead>
    <tr>
      <!--<th>Event ID</th>-->
      <th>Activate Event</th>
      <th>Event Date</th>
      <th>Event Name</th>
      <!--<th>Recruiter</th>-->
      <!--<th>Recruiter ID</th>-->
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <!--<td>{{event.eventId}}</td>-->
      <td class="text-center">
        <a (click)="clickEvent(event)" [routerLink]="['/event/activate/', event.eventId]" class="btn btn-primary" role="button">Activate Event</a> 
        </td>
    
      <td>{{event.eventDate}}</td>
      <td> <a href="/event/students/{{event.eventId}}">
        {{event.eventName}}
        </a></td>
      <!--<td><span *ngFor="let recruiter of event.recruiters">
        {{recruiter.firstName}} {{recruiter.lastName}} <br />
      </span> 
        </td>-->
      <td class="text-center">
        <a class="btn btn-primary" [routerLink]="['/event/edit/', event.eventId]">Edit Event</a>&nbsp;
      <button (click)="deleteEvent(event.eventId)" class="btn btn-danger">Delete Event</button>
      </td>
      </tr>
  </tbody>
</table> 


</section>
