<section @fadeInAnimation>
<ol class="breadcrumb">
    <li><a routerLink="/home">Home</a></li>
    <li class="active" style="color:black">Events</li>
</ol>

 <a class="btn btn-danger" id="btn-danger" [routerLink]="['/recruiter']">Recruiter Logout</a>

<br/>

<br/>

<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<h2>Events</h2>

<a class="btn btn-primary" [routerLink]="['/event/add/']"><span class="glyphicon glyphicon-plus"></span> Add</a>&nbsp;
<a class="btn btn-primary" [routerLink]="['/allevents']">View All</a>&nbsp;

<br><br><br>

 <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="width:100%">
  <thead>
    <tr>
      <th>Activate Event</th>
      <th>Event Date</th>
      <th>Event Name</th>
      <th>No of Students</th>
      <th>Recruiter</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td> <!--removed this  class="text-center" to align the buttons to left-->
        <a (click)="clickEvent(event)" [routerLink]="['/event/activate/', event.eventId]" class="btn btn-primary" role="button">Activate Event</a> 
        </td>
      <td>{{event.eventDate | date :'yyyy-MM-dd' }}</td>
      <td> <a href="/event/students/{{event.eventId}}">
        {{event.eventName}}
        </a></td>
      <td>{{event.numStudents}}</td>
      <td><span *ngFor="let recruiter of event.recruiters">
        {{recruiter.firstName}} {{recruiter.lastName}} <br />
      </span> 
        </td>
      <td>
        <a class="btn btn-primary" [routerLink]="['/event/edit/', event.eventId]">
          <span class="glyphicon glyphicon-edit"></span> Edit</a>&nbsp;
        <button (click)="deleteEvent(event.eventId)"  class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span> Trash</button>
      </td>
      </tr>
  </tbody>
</table> 


</section>