<section @fadeInAnimation>
    <ol class="breadcrumb">
      <!-- <li><a routerLink="/home">Home</a></li> -->
      <li class="active" style="color:black">Student Login / </li>
  </ol>

  <button (click)="deactivateAndExit()" class="btn btn-danger">Deactivate This Session</button>

  <br />

  <div [ngClass]="(errorMessage)?'alert alert-danger':'alert alert-success'" role="alert" *ngIf="errorMessage || successMessage" id="deletemsg">
      {{errorMessage}} {{successMessage}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div> 

  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>Welcome! Thank You for Participating in the Liberty Mutual Job Fair!</h4>
    </div>
    <div class="panel-body">
      <p>Please enter your email address and click submit.</p>
      <p>Once logged in, enter your registration information and select a candidate role: </p>
      <ul>
        <li>Frontend</li>
        <li>Backend</li>
        <li>Both</li>
        <li>Neither</li>
      </ul>
      <p>Some candidates will be given a short quiz that is used to evaluate candidate skill level.</p>
    </div>
  </div>
  
  
    <!-- Note: ngSubmit will not be executed because routerLink is re-routing us to studentForm -->
  <form novalidate (ngSubmit)="authenticate(studentForm)"  #studentForm="ngForm" class="form-horizontal">
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-4">
        <input autocomplete="off" [(ngModel)]="email" type="text" class="form-control" id="email" name="email" placeholder="Enter Email..." required minlength="2" maxlength="75" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
          <span *ngIf="formErrors.email" class="text-danger">
            {{ formErrors.email }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button [disabled]="!studentForm.form.valid" type="submit" class="btn btn-primary" [routerLink]="[ '/student/edit/', email ]">Submit</button>
      </div>
    </div>
  </form>


    <!-- two-day data bind to email property in student.component.ts 
    <input type="text" [(ngModel)]="email"/>
    <a type="submit" class="btn btn-primary" [routerLink]="[ '/student/edit/', email ]">Submit</a> -->

  </section>
