@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background-color: lightgray;
     background-image: url("/assets/images/be_at_liberty_blur.jpg"); 
     /* background-repeat: no-repeat;  */
    /* height: 821px; */
    /* width: 100%;
    background-size: cover; */
}

table {
    /* background-color: gray; */
    filter:alpha(opacity=90); 
    -moz-opacity:0.6; 
    opacity: 0.9;
    border: 1px solid black;
    font-style: bold;

}
th {
    font-style: bold;
    font-size: 16px;
}

td {
    background-color: #f5f5f5; 
    border: 1px solid white;
} 

.breadcrumb {
    background-color: transparent;
    font-size: 17px;
    /* opacity: 0.1;
    filter: alpha(opacity=50); */
}

.active {
    font-weight: bold;
}

#align {
    float: right;
    right: 1%;
}

@media (min-width: 600px) {
    .container {
        /*max-width: 768px;*/
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 800px) {
    .container-fluid {
        max-width: 100%;
    }
}

/* Validation formatting */

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

#deletemsg {
    margin-top: 75px;
}

#deactivateMsg {
    margin-top: 30px;
}

footer {
    /* background-color: lightgray; */
    display: inline;
    background-color: transparent;
    /* height: 45px; */
    color: black;
    font-style: bold;
    font-size: 15px;
    /* margin-top: 0px;
    margin-bottom: 0px; */
    padding-bottom: 0px;
    /* border: 2px solid black; */
}

.pull-center {
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
    float: none;
    font-size: 15px;
}

.btn-primary {
    font-size: 15px;
}

.pull-left {
    padding-right: 0px;
    margin-right: 0px;
}


