<div class="jumbotron">
  <div class="container">

    <div class="row text-center">
      <div class="col-md-4">
        <div class="caption">
          <h3>Recruiters Start Here</h3>
          <a class="btn btn-primary" routerLink="/recruiter">Recruiters</a>
        </div>
      </div>
    </div> <!-- end button -->

  </div> <!-- end container -->
</div> <!-- end jumbotron -->

<footer class="footer">
  <div class="container">
    <p></p>
    <p>&copy; 2017 Liberty Mutual Insurance</p>
    <p></p>
  </div>
</footer>
