<div class="jumbotron">
  <div class="container">

    <div class="row text-center">
      <div class="col-md-4">
        <div class="caption">
          <h3>Recruiters Start Here</h3>
          <a class="btn btn-primary" routerLink="/recruiter">BEGIN</a>
        </div>
      </div>
    </div> <!-- end button -->

  </div> <!-- end container -->
</div> <!-- end jumbotron -->

<footer>
  <p class="pull-left">&copy; 2017 Liberty Mutual Insurance</p>
  <!-- <div class="pull-center">
    <ul class="list-inline">
      <li>Recruiters Start Here</li>&nbsp;
       <a class="btn btn-primary" routerLink="/recruiter">BEGIN</a>
    </ul>
  </div>
</footer> -->
